In [47]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')
# Display up to 500 columns of a wide dataframe, instead of ...-ing them 
pd.set_option('display.max_columns', 500)

# Assignment
In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed state level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

Access this data from the Thinkful database using the following credentials:

In [3]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

In [23]:
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

# I connected via pgAdmin4 and verified the table name is the same as the db name
used_df = pd.read_sql_query('select * from useducation',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

## To complete this assignment, submit a link to a Jupyter notebook containing your solutions to the following tasks:

### 1. Determine all the variable types and find the fraction of the missing values for each variable.

PRIMARY_KEY, STATE are the only two non-numeric fields.

State is categorical, nominal data--mostly the full names of a state, district, or US territory. There are a few outlying values that are 2-3 character abbreviations, and a few variations containing "DOD" we can probably combine, if we don't want to drop these rows altogether.

YEAR is technically continuous, interval, but its use here is probably more categorical, ordinal--we're not using year to _measure_ a length of time, but sorting by the YEAR column allows us to compare scores year over year.

PRIMARY_KEY is a combination of 4-digit year and state|district|territory. I think having the year as a part of this key makes it categorical, ordinal, for the same reasons that YEAR alone is categorical, ordinal.

Revenues and expenditures are dollar amounts. These values are continuous, ratio.

ENROLL and GRADES_* are the numbers of students in each grade, or in a range of grades (this comes directly from [the Kaggle page](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home)). These fields are continuous, ratio.

The AVG_* scores represent a state's average score for fourth or eighth graders taking an NAEP exam in reading or math. I found some information about interpreting NAEP scores [here](https://nces.ed.gov/nationsreportcard/mathematics/interpret_results.aspx). These values are continuous, interval--there is a "zero" within the possible range of values, but the ranges are not the same between grades, and it's not clear that an average score of, say, 300 means those students know exactly twice as much about reading or math as a group of students with an average of 150.

In [5]:
used_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

You can see from the counts above that there are null values in most of the columns outside of the key/state/year. We can get the percentage of null values per column like this:

In [6]:
# The sum of null rows for each column * 100, divided by the total number of rows for each column:
used_df.isnull().sum()*100/used_df.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

The AVG_* scores in particular have a high percentage of missing values.

In [7]:
used_df.loc[used_df['AVG_MATH_4_SCORE'].notnull()]

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN
5,1992_COLORADO,COLORADO,1992,NaN,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,...,50648.0,45025.0,34533.0,394904.0,160299.0,562613.0,221.023429,272.398433,213.480890,266.419687
6,1992_CONNECTICUT,CONNECTICUT,1992,NaN,3834302.0,143542.0,1342539.0,2348221.0,3721338.0,2148041.0,...,38058.0,33691.0,28366.0,304284.0,126917.0,436932.0,226.798480,273.739345,222.417599,264.713904
7,1992_DELAWARE,DELAWARE,1992,NaN,645233.0,45945.0,420942.0,178346.0,638784.0,372722.0,...,8272.0,8012.0,6129.0,67495.0,28338.0,96296.0,217.899972,262.868585,206.389052,261.577921
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,NaN,709480.0,64749.0,0.0,644731.0,742893.0,329160.0,...,5832.0,5000.0,3433.0,47009.0,18173.0,70000.0,192.600553,234.924621,178.557612,265.976765
9,1992_FLORIDA,FLORIDA,1992,NaN,11506299.0,788420.0,5683949.0,5033930.0,11305642.0,5166374.0,...,164416.0,142372.0,100835.0,1276685.0,511557.0,1819706.0,213.689751,259.908848,204.882606,262.118986
10,1992_GEORGIA,GEORGIA,1992,NaN,5536901.0,398701.0,2798674.0,2339526.0,5535942.0,3043984.0,...,99648.0,92374.0,63646.0,787599.0,315539.0,1106441.0,215.594906,259.359434,206.844175,NaN
11,1992_HAWAII,HAWAII,1992,NaN,996809.0,71273.0,903443.0,22093.0,1040121.0,536115.0,...,13754.0,11750.0,9051.0,107242.0,43882.0,151649.0,214.056666,257.410887,200.880272,NaN
12,1992_IDAHO,IDAHO,1992,NaN,859329.0,69138.0,531912.0,258279.0,886161.0,473505.0,...,18607.0,18880.0,14593.0,146573.0,66541.0,214345.0,221.562534,275.090294,NaN,NaN
14,1992_INDIANA,INDIANA,1992,NaN,5060274.0,257044.0,2578149.0,2225081.0,5182754.0,2598925.0,...,73760.0,75477.0,62234.0,601890.0,278161.0,883276.0,221.037742,270.098944,219.763258,NaN
15,1992_IOWA,IOWA,1992,NaN,2663934.0,125665.0,1176205.0,1362064.0,2795774.0,1446478.0,...,37692.0,36892.0,33057.0,299253.0,138907.0,442752.0,229.884078,283.360009,222.852939,NaN
17,1992_KENTUCKY,KENTUCKY,1992,NaN,2642902.0,289902.0,1643109.0,709891.0,2518082.0,1343438.0,...,49666.0,49993.0,38029.0,400849.0,181786.0,597199.0,215.048158,262.241282,211.562307,NaN
18,1992_LOUISIANA,LOUISIANA,1992,NaN,3341253.0,367822.0,1848734.0,1124697.0,3362853.0,1888349.0,...,61125.0,55942.0,38368.0,490112.0,196891.0,698442.0,204.140211,249.983926,196.762268,NaN
19,1992_MAINE,MAINE,1992,NaN,1206819.0,73160.0,511654.0,622005.0,1228869.0,685350.0,...,17154.0,15969.0,13882.0,135320.0,59289.0,195882.0,231.638840,278.635384,228.380027,NaN
20,1992_MARYLAND,MARYLAND,1992,NaN,4658498.0,228336.0,1778834.0,2651328.0,4698374.0,2628891.0,...,60287.0,52815.0,40426.0,472622.0,189795.0,678498.0,217.317708,264.825493,209.645497,NaN
21,1992_MASSACHUSETTS,MASSACHUSETTS,1992,NaN,5517659.0,273946.0,1439051.0,3804662.0,5245560.0,2751871.0,...,66822.0,60702.0,52425.0,536029.0,230299.0,777050.0,226.597918,272.783201,223.160076,NaN
22,1992_MICHIGAN,MICHIGAN,1992,NaN,9963137.0,537917.0,2539380.0,6885840.0,10170688.0,4681327.0,...,118963.0,114282.0,90655.0,968910.0,419351.0,1398802.0,219.878352,267.353194,NaN,NaN
23,1992_MINNESOTA,MINNESOTA,1992,NaN,4684684.0,194092.0,2380754.0,2109838.0,4981125.0,2534882.0,...,62606.0,59810.0,53813.0,500938.0,224426.0,731758.0,228.493596,282.392205,218.301709,NaN
24,1992_MISSISSIPPI,MISSISSIPPI,1992,NaN,1684706.0,277706.0,901199.0,505801.0,1691990.0,956104.0,...,39839.0,38132.0,26328.0,321614.0,129554.0,451986.0,201.828261,246.458035,201.529328,NaN
25,1992_MISSOURI,MISSOURI,1992,NaN,4043682.0,255194.0,1903124.0,1885364.0,4197600.0,2168135.0,...,67098.0,64546.0,50534.0,531337.0,235437.0,785722.0,222.215600,271.131545,216.898079,NaN
27,1992_NEBRASKA,NEBRASKA,1992,NaN,1542413.0,85423.0,492256.0,964734.0,1534046.0,909159.0,...,22133.0,21379.0,18999.0,177432.0,79975.0,260541.0,225.332648,277.654523,220.034963,NaN
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1992,NaN,1063391.0,31020.0,86296.0,946075.0,1066647.0,581123.0,...,15611.0,13537.0,10752.0,123475.0,47999.0,172479.0,229.664564,278.216326,223.466140,NaN
30,1992_NEW_JERSEY,NEW_JERSEY,1992,NaN,10814689.0,416063.0,4504718.0,5893908.0,10452340.0,6042936.0,...,82909.0,77779.0,67353.0,671021.0,295337.0,975481.0,227.148047,271.905561,219.390468,NaN
31,1992_NEW_MEXICO,NEW_MEXICO,1992,NaN,1330091.0,161520.0,990653.0,177918.0,1339829.0,683253.0,...,24447.0,21690.0,16027.0,191623.0,80105.0,273800.0,213.299090,259.606718,204.535911,NaN
32,1992_NEW_YORK,NEW_YORK,1992,NaN,21630179.0,1172030.0,8697663.0,11760486.0,22815611.0,13288972.0,...,197698.0,184815.0,142822.0,1585404.0,727840.0,2344534.0,218.445535,266.422300,211.740921,NaN
33,1992_NORTH_CAROLINA,NORTH_CAROLINA,1992,NaN,5236099.0,389145.0,3283378.0,1563576.0,5418687.0,2847638.0,...,85244.0,84291.0,63427.0,695047.0,303507.0,1004673.0,212.884490,258.405375,214.358086,NaN
34,1992_NORTH_DAKOTA,NORTH_DAKOTA,1992,NaN,559481.0,51476.0,242693.0,265312.0,553732.0,315009.0,...,9570.0,9102.0,8014.0,75082.0,34165.0,109887.0,228.662815,283.213075,225.239083,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,2017_IOWA,IOWA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,243.107484,286.239418,221.747268,272.023876
1463,2017_KANSAS,KANSAS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.212805,285.283508,223.268429,267.675679
1464,2017_KENTUCKY,KENTUCKY,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,239.178257,277.714162,224.080585,267.490028
1465,2017_LOUISIANA,LOUISIANA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,228.971745,266.506760,211.600528,265.133438
1466,2017_MAINE,MAINE,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,239.898995,284.003007,221.388603,256.751471
1467,2017_MARYLAND,MARYLAND,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.601277,280.910246,225.049335,268.930632
1468,2017_MASSACHUSETTS,MASSACHUSETTS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,249.102674,297.042225,235.699697,267.250533
1469,2017_MICHIGAN,MICHIGAN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,235.555473,279.505455,217.753242,277.782589
1470,2017_MINNESOTA,MINNESOTA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,248.804303,293.962376,224.538513,265.468928
1471,2017_MISSISSIPPI,MISSISSIPPI,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,234.694193,270.914908,215.203306,268.616822
1472,2017_MISSOURI,MISSOURI,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,239.502289,280.596022,222.681081,256.344701
1473,2017_MONTANA,MONTANA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.721634,285.600437,222.326722,266.035007
1474,2017_NEBRASKA,NEBRASKA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,245.590675,288.405955,224.096225,267.208219
1475,2017_NEVADA,NEVADA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,231.685162,275.365456,214.841696,268.528555
1476,2017_NEW_HAMPSHIRE,NEW_HAMPSHIRE,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,245.319839,293.290654,228.900649,259.806407
1477,2017_NEW_JERSEY,NEW_JERSEY,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.855231,291.698552,232.943318,274.786040
1478,2017_NEW_MEXICO,NEW_MEXICO,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,229.704282,269.374084,207.704354,275.044552
1479,2017_NEW_YORK,NEW_YORK,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,235.548457,281.688000,221.884015,255.578543
1480,2017_NORTH_CAROLINA,NORTH_CAROLINA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.951393,281.926028,223.930906,264.157584
1481,2017_NORTH_DAKOTA,NORTH_DAKOTA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,244.243515,288.172322,221.519266,262.720477
1482,2017_OHIO,OHIO,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.928372,287.714266,225.261138,265.081922
1483,2017_TENNESSEE,TENNESSEE,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.692515,278.777735,218.952797,267.355727
1484,2017_TEXAS,TEXAS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.943671,282.320510,214.878493,262.046853
1485,2017_UTAH,UTAH,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,242.480766,286.816559,225.159173,260.342577
1486,2017_VERMONT,VERMONT,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.893297,287.623388,226.445343,268.752420
1487,2017_VIRGINIA,VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,248.041059,290.081407,227.598382,273.402640
1488,2017_WASHINGTON,WASHINGTON,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.701001,289.131257,223.123409,267.744778
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.057019,273.415854,217.316396,271.617023
1490,2017_WISCONSIN,WISCONSIN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.389213,288.143144,219.612694,258.700304
1491,2017_WYOMING,WYOMING,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.820619,288.761812,226.831211,269.371456

### 2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

__For a lot of these columns, it is probably fine to fill in nulls with a mean or median value:__
* ENROLL - the number of students per state probably doesn't tend to jump or drop a lot year over year.
* REVENUE and EXPENDITURE - Same here, I can't see these columns changing too significantly.
* GRADES - A mean number of students for each state can be used to fill in missing values in these columns.
* AVG_* - This column is already a mean value, so why not calculate and use a mean to fill in missing rows.

### 3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

* ENROLL / GRADES_ALL_G - Where one is populated and the other is not for the same year, use the populated value. The explanation on the Kaggle page suggested these two numbers are estimates of student counts, just calculated by different agencies. 
* REVENUE columns - I spot-checked a few states and these columns seem to either fully populated for a given year, or all NaN. I don't know how we would populate these by only looking at other columns in the same row.
* EXPENDITURE columns - I saw a few where OTHER_EXPENDITURE was NaN, but otherwise this seems to be a similar situation to the revenue columns--either fully populated, or all NaN.
   
    I thought that for rows where OTHER_EXPENDITURE isn't populated, we could estimate its value by subtracting all of the known expenditures from TOTAL. That technique doesn't seem to give me the same value for OTHER, where that column is populated. (You can see one of my spot checks below.)
    
* GRADES columns - Seem to be either fully populated for a given year, or all NaN. I'm not sure how we would replace these when missing if we are only looking at other columns in the same row, except for the GRADES_ALL_G column I already discussed above.
* AVG score columns - There is no other data in a given row that would be useful in estimating these values, if they are not populated.

In [25]:
used_df.loc[used_df['STATE'] == 'NEW_YORK']#[['STATE','YEAR','ENROLL','TOTAL_REVENUE','FEDERAL_REVENUE','STATE_REVENUE','LOCAL_REVENUE','TOTAL_EXPENDITURE','INSTRUCTION_EXPENDITURE','SUPPORT_SERVICES_EXPENDITURE','OTHER_EXPENDITURE','CAPITAL_OUTLAY_EXPENDITURE']]

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
32,1992_NEW_YORK,NEW_YORK,1992,NaN,21630179.0,1172030.0,8697663.0,11760486.0,22815611.0,13288972.0,6132532.0,NaN,1640971.0,31290.0,201674.0,197698.0,184815.0,142822.0,1585404.0,727840.0,2344534.0,218.445535,266.422300,211.740921,NaN
85,1993_NEW_YORK,NEW_YORK,1993,2663637.0,22688753.0,1276362.0,8848470.0,12563921.0,23934282.0,14029639.0,6425626.0,935895.0,1625848.0,31687.0,205238.0,198259.0,188274.0,143055.0,1608489.0,743933.0,2384109.0,NaN,NaN,NaN,NaN
137,1994_NEW_YORK,NEW_YORK,1994,2702937.0,23933662.0,1442038.0,9092275.0,13399349.0,25359726.0,14829280.0,6782725.0,992378.0,1717307.0,32227.0,212239.0,202024.0,191181.0,144139.0,1627846.0,746836.0,2406909.0,NaN,NaN,NaN,NaN
190,1995_NEW_YORK,NEW_YORK,1995,2738361.0,25063999.0,1368074.0,9932669.0,13763256.0,26540967.0,15693535.0,6970608.0,945437.0,1811288.0,32087.0,216112.0,203089.0,194347.0,142841.0,1653846.0,761509.0,2447442.0,NaN,NaN,NaN,NaN
241,1996_NEW_YORK,NEW_YORK,1996,2788343.0,26026366.0,1510447.0,10284155.0,14231764.0,26974514.0,15973623.0,6953428.0,942356.0,1835923.0,31566.0,210795.0,205572.0,196724.0,146738.0,1677128.0,769382.0,2478076.0,222.634059,270.231486,215.779216,NaN
292,1997_NEW_YORK,NEW_YORK,1997,2818497.0,26775074.0,1446691.0,10477889.0,14850494.0,28227561.0,16259479.0,7136050.0,933478.0,2561130.0,32086.0,206548.0,210379.0,197148.0,146818.0,1691688.0,776218.0,2499992.0,NaN,NaN,NaN,NaN
344,1998_NEW_YORK,NEW_YORK,1998,2834992.0,27900803.0,1522836.0,11033327.0,15344640.0,29853891.0,17266937.0,7384638.0,1044857.0,2723181.0,38196.0,202894.0,214629.0,200097.0,148315.0,1705145.0,774469.0,2517810.0,NaN,NaN,NaN,NaN
396,1999_NEW_YORK,NEW_YORK,1999,2850352.0,30215370.0,1794853.0,12605931.0,15814586.0,31841870.0,18323434.0,7913623.0,893364.0,3309820.0,37613.0,199271.0,219305.0,202221.0,150444.0,1717122.0,781175.0,2535910.0,NaN,NaN,NaN,NaN
449,2000_NEW_YORK,NEW_YORK,2000,2861478.0,31906526.0,1938590.0,13766358.0,16201578.0,33683043.0,19856637.0,8377510.0,1057876.0,3266115.0,39062.0,194673.0,217881.0,203482.0,151043.0,1718478.0,782021.0,2539561.0,226.559061,276.262859,222.445055,NaN
501,2001_NEW_YORK,NEW_YORK,2001,2856277.0,34373567.0,1912495.0,16032781.0,16428291.0,38062603.0,22052316.0,9100764.0,1157116.0,4579196.0,40212.0,190402.0,214283.0,210369.0,153505.0,1717579.0,790657.0,2548448.0,NaN,NaN,NaN,NaN
552,2002_NEW_YORK,NEW_YORK,2002,2846068.0,35748163.0,2206496.0,17337735.0,16203932.0,39585780.0,23167459.0,9379511.0,1183476.0,4809068.0,41752.0,189198.0,212414.0,215632.0,158474.0,1712691.0,802393.0,2556836.0,NaN,NaN,NaN,NaN
605,2003_NEW_YORK,NEW_YORK,2003,2879228.0,38033080.0,2591430.0,17509618.0,17932032.0,41603390.0,24786376.0,10000845.0,1156927.0,4489672.0,41456.0,188638.0,206912.0,219335.0,163362.0,1681670.0,820478.0,2543604.0,235.930075,279.749257,222.188207,255.010828
656,2004_NEW_YORK,NEW_YORK,2004,2842785.0,40820776.0,3058888.0,17705556.0,20056332.0,42953568.0,25761741.0,10702312.0,1168325.0,3867760.0,39801.0,188633.0,202267.0,218176.0,166975.0,1662931.0,840949.0,2543681.0,NaN,NaN,NaN,NaN
708,2005_NEW_YORK,NEW_YORK,2005,2816426.0,43936450.0,3156023.0,19202847.0,21577580.0,45086872.0,27866708.0,11303872.0,1182179.0,3342778.0,40519.0,189924.0,196279.0,216226.0,173867.0,1626722.0,851404.0,2518645.0,238.173977,279.716254,222.695200,264.659369
760,2006_NEW_YORK,NEW_YORK,2006,2787366.0,47018793.0,3340216.0,20183518.0,23495059.0,48359774.0,29589517.0,11898562.0,1264799.0,3970683.0,44649.0,186373.0,192095.0,210851.0,179030.0,1596900.0,857753.0,2499302.0,NaN,NaN,NaN,NaN
813,2007_NEW_YORK,NEW_YORK,2007,2754976.0,50762544.0,3269310.0,22845772.0,24647462.0,51253984.0,31465706.0,12638159.0,1318628.0,4216048.0,48561.0,184672.0,191647.0,205135.0,185680.0,1571259.0,852342.0,2472162.0,242.543018,280.141177,223.752027,270.937850
865,2008_NEW_YORK,NEW_YORK,2008,2727552.0,53147343.0,3129776.0,24036865.0,25980702.0,54870811.0,33446544.0,13610428.0,1375430.0,4805621.0,50758.0,187194.0,190067.0,201895.0,185896.0,1552130.0,839837.0,2442725.0,NaN,NaN,NaN,NaN
921,2009_NEW_YORK,NEW_YORK,2009,2696688.0,55885116.0,3197833.0,25768345.0,26918938.0,57851481.0,35195372.0,14079990.0,1415237.0,5463718.0,51251.0,190741.0,193473.0,198690.0,188377.0,1550122.0,858087.0,2459460.0,240.641099,282.576915,224.368749,267.067857
973,2010_NEW_YORK,NEW_YORK,2010,2697357.0,55453300.0,3694050.0,23111427.0,28647823.0,60067253.0,36628097.0,14152383.0,1433218.0,6125749.0,51649.0,194607.0,198720.0,203761.0,191528.0,1609766.0,851829.0,2513244.0,NaN,NaN,NaN,NaN
1025,2011_NEW_YORK,NEW_YORK,2011,2677412.0,57753776.0,5118477.0,23188002.0,29447297.0,59446908.0,37834196.0,14460678.0,1416793.0,4653802.0,49569.0,197458.0,196082.0,201190.0,190732.0,1595807.0,831712.0,2477088.0,237.519943,280.453026,222.493811,258.193264
1077,2012_NEW_YORK,NEW_YORK,2012,2644029.0,58981073.0,3769627.0,23314292.0,31897154.0,60216421.0,38431932.0,14662331.0,1490478.0,4094920.0,48712.0,202670.0,198361.0,200642.0,192112.0,1601541.0,825972.0,2476225.0,NaN,NaN,NaN,NaN
1129,2013_NEW_YORK,NEW_YORK,2013,2629805.0,59623918.0,3335657.0,23632698.0,32655563.0,60505950.0,38756656.0,14846782.0,1462376.0,3982327.0,48968.0,201930.0,196988.0,203267.0,190081.0,1607001.0,820326.0,2476295.0,240.349817,281.807788,223.813363,274.307732
1180,2014_NEW_YORK,NEW_YORK,2014,2619312.0,61337112.0,3347393.0,24830862.0,33158857.0,62556193.0,40168920.0,15381372.0,1515933.0,4060304.0,57353.0,200507.0,197545.0,200384.0,190387.0,1607983.0,827493.0,2492829.0,NaN,NaN,NaN,NaN
1231,2015_NEW_YORK,NEW_YORK,2015,2631532.0,63712218.0,2869847.0,25900858.0,34941513.0,65094591.0,41954260.0,15714795.0,1540851.0,4536014.0,50430.0,198024.0,199866.0,197997.0,189562.0,1601015.0,820402.0,2471847.0,236.796927,280.089220,222.646303,270.853712
1282,2016_NEW_YORK,NEW_YORK,2016,2590945.0,66912661.0,3369803.0,27437593.0,36105265.0,68282026.0,43964520.0,15883500.0,1599317.0,4656189.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,2017_NEW_YORK,NEW_YORK,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235.548457,281.688000,221.884015,255.578543

In [45]:
used_df_ny_1993 = used_df.loc[(used_df['STATE'] == 'FLORIDA') & (used_df['YEAR'] == 1993)]
used_df_ny_1993

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
61,1993_FLORIDA,FLORIDA,1993,1980569.0,11370156.0,947326.0,5520893.0,4901937.0,11425183.0,5333136.0,3557043.0,852220.0,1424334.0,34793.0,167140.0,168509.0,149054.0,100646.0,1313261.0,525569.0,1873623.0,NaN,NaN,NaN,NaN

In [46]:
calc_other_expenditure = int(used_df_ny_1993['TOTAL_EXPENDITURE'] - used_df_ny_1993['INSTRUCTION_EXPENDITURE'] - used_df_ny_1993['SUPPORT_SERVICES_EXPENDITURE'] - used_df_ny_1993['CAPITAL_OUTLAY_EXPENDITURE'])
print("Calculated Other Expenditure: {}".format(calc_other_expenditure))
other_expenditure = int(used_df_ny_1993['OTHER_EXPENDITURE'])
diff_expenditure = calc_other_expenditure - other_expenditure
print("Other Expenditure: {}\nDifference: {}".format(other_expenditure,diff_expenditure))

Calculated Other Expenditure: 1110670
Other Expenditure: 852220
Difference: 258450

### 4. This time, fill in the missing values using interpolation (extrapolation).


* ENROLL - Calculate the mean of the surrounding populated years. If the first/last values within the range of years are not populated, either use the next or last available value, or calculate a mean based on the nearest 2-5 populated years. The first/last issue seems to be a consistent one across all of the states I spot checked.

* REVENUE columns - Where these columns are all NaN, calculate the mean for each column for, say, the previous 2-5 years. This way we're still using numbers that are relatively close in time, measured in dollars whose value has not been changed significantly by inflation (probably NOT true when comparing early 1990s dollars to late 2010s).

* EXPENDITURE columns - We can treat these expenditure columns the same way as the revenue columns, including rows where just OTHER_EXPENDITURE isn't populated.

* GRADES columns - These columns can also be treated like the revenue columns if they're not populated. I see the two most recent years are the ones that are not populated, which means we're probably using the same interpolated mean for both?

* AVG_* - The population pattern of the AVG columns implies that the NAEP tests aren't administered every year, or that data is only collected for them periodically. I also see some cases where not all 4 averages are available for a given year.

    Between years where a set of values is available, I'd either carry the previous values forward, or calculate the mean of the previous and next new values. For instance, for 1993-1995, we could carry forward values from 1992, or get the mean of the 1992 and 1996 average scores, and use that.

### 5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

In general, the more rows of data we consider, the more options we have for filling in missing values. Taking year into consideration made things more complex but is probably also going to yield interpolated values that are a better estimate than simply getting the mean of all available values.